# Class 1 - D1

In [1]:
print("Hey I'm Madhan")

Hey I'm Madhan

In [2]:
print(2+2)

4

In [3]:
a=3
b=10
print(a+b)

13

# Class 2 - D1

In [20]:
import keyword
import pandas as pd

# Display the keywords in a formatted way
keywords = keyword.kwlist

# Arrange keywords into 5 columns for better display
num_columns = 5

# Calculate number of rows needed
num_rows = -(-len(keywords) // num_columns)  # Ceiling division

# Pad the list with empty strings if needed to fill all columns
padded_keywords = keywords + [""] * (num_rows * num_columns - len(keywords))

# Reshape into a 2D list
reshaped_keywords = [padded_keywords[i:i + num_columns] for i in range(0, len(padded_keywords), num_columns)]

# Create DataFrame
df_keywords_reshaped = pd.DataFrame(reshaped_keywords, columns=[f"Col {i+1}" for i in range(num_columns)])
df_keywords_reshaped

      Col 1    Col 2  Col 3  Col 4   Col 5
0     False     None   True    and      as
1    assert    async  await  break   class
2  continue      def    del   elif    else
3    except  finally    for   from  global
4        if   import     in     is  lambda
5  nonlocal      not     or   pass   raise
6    return      try  while   with   yield

*Reshape into a 2D list*


reshaped_keywords = [padded_keywords[i:i + num_columns] for i in range(0, len(padded_keywords), num_columns)]

In [25]:
# Step 1: Initialize an empty list to store the reshaped keywords
reshaped_keywords = []

# Step 2: Iterate over the padded_keywords list in steps of 'num_columns' (5)
for i in range(0, len(padded_keywords), num_columns):
    # i will take values: 0, 5, 10, 15, 20, 25, 30 (based on range(start, stop, step))

    # Step 3: Take a slice from 'padded_keywords' starting at index i and ending at i + num_columns (i.e., i + 5)
    # This will get a sublist with 'num_columns' elements (5 elements per slice)
    row = padded_keywords[i:i + num_columns]
    
    # Step 4: Append the current slice (row) to the 'reshaped_keywords' list
    reshaped_keywords.append(row)

reshaped_keywords

[['False', 'None', 'True', 'and'],
 ['as', 'assert', 'async', 'await'],
 ['break', 'class', 'continue', 'def'],
 ['del', 'elif', 'else', 'except'],
 ['finally', 'for', 'from', 'global'],
 ['if', 'import', 'in', 'is'],
 ['lambda', 'nonlocal', 'not', 'or'],
 ['pass', 'raise', 'return', 'try'],
 ['while', 'with', 'yield']]

df_keywords_reshaped = pd.DataFrame(reshaped_keywords, columns=[f"Col {i+1}" for i in range(num_columns)])

In [24]:
Col=[]
for i in range(num_columns):
    Col.append(f"Col {i+1}")

print(Col)

['Col 1', 'Col 2', 'Col 3', 'Col 4']

In [4]:
name=input("enter your name")
psw=input("enter your password")
print("hi " + name, "you have successfully logged in")

hi Madhan you have successfully logged in

In [5]:
print(2+5-9*78)
print(4-6)
print(8*9)
print(10/2)
print(10%2)
print(3**3)
print(11//5)

-695
-2
72
5.0
0
27
2

In [6]:


# Comparison Operators
x = 10
y = 5

# Equal to (==)
print("x == y:", x == y)  # False

# Not equal to (!=)
print("x != y:", x != y)  # True

# Greater than (>)
print("x > y:", x > y)  # True

# Less than (<)
print("x < y:", x < y)  # False

# Greater than or equal to (>=)
print("x >= y:", x >= y)  # True

# Less than or equal to (<=)
print("x <= y:", x <= y)  # False

x == y: False
x != y: True
x > y: True
x < y: False
x >= y: True
x <= y: False

In [ ]:
#LOGICAL OPERATORS

print(True or True)
print(True or False)
print(False or True)
print(False or False)

print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
True
True
False
True
False
False
False

In [22]:
num_columns = 4
num_rows * num_columns - len(keywords)

-7

In [ ]:
print(not True)
print(not False)

print(False or True and not True)
print(True or False and False and True)

False
True
False
True

In [ ]:
print(True or False and not False)

True

# Class 3 - D2

## prompt: list down all the inbuilt functions in python

Okay, let's identify the built-in functions used in your provided Python code snippet:


*   **`print()`:**  Used to display output to the console.
*   **`input()`:** Used to take user input from the console.
*   **`keyword.kwlist`:** This is a list of all keywords in Python provided by the `keyword` module, it is not a function, but an attribute.



**Built-in Functions in General:**

It's important to note that the code snippet only uses a small subset of the many built-in functions available in Python. Some other common examples include:

*   **`len()`:** Returns the length of an object (string, list, tuple, etc.).
*   **`type()`:** Returns the type of an object.
*   **`str()`:** Converts an object to a string.
*   `int()`: Converts a string to an integer.
*   `float()`: Converts a string to a float.
*   `list()`: Converts an iterable to a list.
*   `tuple()`: Converts an iterable to a tuple.
*   `range()`: Creates a sequence of numbers.
*   `sum()`: Adds elements of an iterable.
*   `min()`: Returns the minimum element of an iterable.
*   `max()`: Returns the maximum element of an iterable.
*   `abs()`: Returns the absolute value of a number.
*   `round()`: Rounds a number to a specified number of decimal places.



By understanding built-in functions, you can write more concise and efficient Python code.

In [1]:
a=input("username")
b=input("passowrd")

if a and b:
  print("success")
else:
  print("fail")

fail

In [ ]:
0 and 1
"a" or "Madhan"
7 and 8
True and False

False

In [3]:
print("abcd")
print('abcd')
print('''abcd''')
print("""abcd""")

abcd
abcd
abcd
abcd

In [4]:
#conditions


if True :
  print("true")
else:
  print("false")

true

In [5]:

if False:
  print("true")
else:
  print("false")

false

In [6]:
a=input("username")
b=input("passowrd")

if a == b:
  print("success")
else:
  print("fail")

success

**ATM System Summary**
User inputs name, card number, and PIN. Options: Balance (B), Deposit (D), Withdraw (W). Error handling for invalid inputs.

In [7]:
print("Welcome to the ATM")
User_name = input("Enter your name: ")
User_card_number = input("Enter your card number: ")

User_balance = 1000
Minimum_balance = 500

if len(User_card_number) == 16:
    print("Welcome to the ATM, " + User_name)
    User_pin = input("Enter your pin: ")
    
    if User_pin == "1482":
        print("You're welcome", User_name)
        User_choice = input("Would you like to Withdraw (W), Deposit (D), or Check Balance (B): ").upper()
        
        if User_choice == "B":
            print("Your Balance is:", User_balance)

        elif User_choice == "D":
            depo_amt = int(input("Enter amount to deposit: "))    
            User_balance += depo_amt
            print("Amount deposited. Current balance:", User_balance)

        elif User_choice == "W":
            withdraw_amt = int(input("Enter amount to withdraw: "))

            if withdraw_amt > User_balance:
                print("❌ Insufficient funds. Your current balance is:", User_balance)

            elif (User_balance - withdraw_amt) < Minimum_balance:
                print("⚠️ Withdrawal denied. You must maintain a minimum balance of:", Minimum_balance)

            else:
                User_balance -= withdraw_amt
                print("✅ Withdrawal successful. Amount withdrawn:", withdraw_amt)
                print("💰 Remaining balance:", User_balance)

        else: 
            print("Invalid input. Please choose W, D, or B.")
    else: 
        print("Incorrect PIN.")
else:
    print("Invalid card number. It must be 16 digits.")

Welcome to the ATM
Invalid card number. It must be 16 digits.

# Class 4 - D2

In [ ]:
#loops

print("".join(x.upper() for x in "Madhan"))

MADHAN

In [18]:
a=0

while a<10:
  print(a)
  a=a+1
  print("hello")
  if a==5:
    break

0
hello
1
hello
2
hello
3
hello
4
hello

In [ ]:
a=0
b=0
while a<5:
  print(a)
  a=a+1
  while b<5:
    print(b)
    b=b+1

0
0
1
2
3
4
1
2
3
4

In [ ]:
for i in range(0,5):
  for j in range(0,3):
    print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [31]:
for i in ["rajini","kamal","alia"]:
  for j in ["khant","hassan","bhatt"]:
    A = ["rajini","kamal","alia"].index(i)
    B = ["khant","hassan","bhatt"].index(j)
    if A == B:
      print(i,j)

rajini khant
kamal hassan
alia bhatt

In [30]:
B

'khant'

In [23]:
a = 0
for i in ["rajini", "kamal","alia"]:
    b = []
    for j in ["kanth","hasan","bhatt"]:
        b.append(j)
    print(i,b[a])
    a += 1

rajini kanth
kamal hasan
alia bhatt

In [ ]:
counteri=0
for i in ["rajini","kamal","alia"]:
  counterj=0
  for j in ["kanth","hasan","bhatt"]:
    if counteri==counterj:
      print(i,j)
    counterj=counterj+1
  counteri= counteri+1

rajini kanth
kamal hasan
alia bhatt

In [ ]:
First_name = ["rajini","kamal","alia"]
Last_name = ["khant","hassan","bhatt"]
for i, j in zip(First_name,Last_name):
  print(i,j)

rajini khant
kamal hassan
alia bhatt

In [ ]:
actor=[]
for i in ['rajini','kamal','alia']:
    for j in ['khant','hassan','bhatt']:
        actor.append(i+" "+j)
print(actor[0:9:4])

['rajini khant', 'kamal hassan', 'alia bhatt']

# Class 5 - D3

In [ ]:
#string operation
a="Today is Wednesday"
b="abcd123"

print(a.upper())
print(a.lower())
print(a.capitalize())

print(a.isalpha())
print(b.isalnum())
print(a.count("is"))
print(a.find("z"))
print(a.index("is"))
print(a.replace("Wednesday","Thursday"))
print(a.endswith("day"))
print(a.startswith("today"))
c=a.upper()
print(c)

TODAY IS WEDNESDAY
today is wednesday
Today is wednesday
False
True
1
-1
3
Today is Thursday
True
False
TODAY IS WEDNESDAY

In [ ]:
a="Today is Wednesday"
print(a.index("is"))
#print(c.isupper())
#print(c.islower())
print(a.split())
c=a.split()
print(" ".join(c))

6
['Today', 'is', 'Wednesday']
Today is Wednesday

In [ ]:
a=["1","2","3","4"]
print("$".join(a))

1$2$3$4

In [8]:
a="Maddy"
print(r"\n how are \n malai?")
print(f"\nhow \nare \nmalai?\n ")
print(r"{a} is a Bad guy")
print(f"{a} is a Bad guy")

\n how are \n malai?

how
are
malai?

{a} is a Bad guy
Maddy is a Bad guy

In [ ]:
a="today is thursday"

print(a[0:10])
print(a[:10])
print(a[3:])
print(a[0:10:2])
print(a[::2])
print(a.capitalize()[::-1])

today is t
today is t
ay is thursday
tdyi
tdyi hrdy
yadsruht si yadoT

In [9]:
#list and its operations

a=["today","yesterday","tomorrow"]
b=[1,1.2342,"Madhan",[1,2,3]]
print(b)

print(b[0])
print(b[3][1])
print(b[0:3])

[1, 1.2342, 'Madhan', [1, 2, 3]]
1
2
[1, 1.2342, 'Madhan']

In [19]:
a=[1,2]
a.append("Madhan's")
a.append("Mini work")
a.append(10121023)
a.append(["z","a","v"])
a.extend([1,2,"a",[1,2,3,4]])
a[5].append("zim damak dhum dhum")
print(a.count("guvi"))
a.insert(1,"guviHCL")
print(a[3].count("a"))
print(a)
z=a[1]
a[1]=a[10]
a[10]=z
print(a)

0
2
[1, 'guviHCL', 2, "Madhan's", 'Mini work', 10121023, ['z', 'a', 'v', 'zim damak dhum dhum'], 1, 2, 'a', [1, 2, 3, 4]]
[1, [1, 2, 3, 4], 2, "Madhan's", 'Mini work', 10121023, ['z', 'a', 'v', 'zim damak dhum dhum'], 1, 2, 'a', 'guviHCL']

In [ ]:
print(a[10].replace(a[10][0], a[3]))
print(a)
d = a.remove(1)

Madhan'suviHCL
[1, [1, 2, 3, 4], 2, "Madhan's", 'Mini work', 10121023, ['z', 'a', 'v', 'zim damak dhum dhum'], 1, 2, 'a', 'guviHCL']

In [21]:
d

In [ ]:
a=(1,2,3,4,"Madhan")
print(a[0])

a,b,c,d=(1,4,3,4)
print(a)
print(b)
print(c)
print(d)

1
1
2
3
4

In [ ]:
#set

a={1,1,2,2,2,21,3,2,3,1,2,None}
print(a)

{1, 2, 3, 21, None}

In [ ]:
print("Madhan " + "s")

nirmal nethaji

In [ ]:
a={"name":"Madhan","lang":"tamil","state":"TN","date":"24/10/2024"}

print(a)
print(a['name'])
print(a["lang"])
a["name1"]='s'
a["lang"]=["tamil","hindi"]
a["lang"].append("english")
print(a)

print(a.get("name"))
print(a.keys())
print(a.values())
print(a.items())

v=a.values()
print(v)
#print(list(v).index("tamil"))

{'name': 'nirmal', 'lang': 'tamil', 'state': 'TN', 'date': '24/10/2024'}
nirmal
tamil
{'name': 'nirmal', 'lang': ['tamil', 'hindi', 'english'], 'state': 'TN', 'date': '24/10/2024', 'name1': 'nethaji'}
nirmal
dict_keys(['name', 'lang', 'state', 'date', 'name1'])
dict_values(['nirmal', ['tamil', 'hindi', 'english'], 'TN', '24/10/2024', 'nethaji'])
dict_items([('name', 'nirmal'), ('lang', ['tamil', 'hindi', 'english']), ('state', 'TN'), ('date', '24/10/2024'), ('name1', 'nethaji')])
dict_values(['nirmal', ['tamil', 'hindi', 'english'], 'TN', '24/10/2024', 'nethaji'])

# Class 6 - D3

In [8]:
def addition(a,b):
    ab = a + b
    return ab
A=1
B=2
sm = addition(A,B)
print(sm)

3

In [9]:
a

''

In [47]:
#functions

def guvi():
  print("Madhan ")
  return "Madhan is a data scientist"

a=guvi()

Madhan

In [ ]:
def add(num1,num2):
  return num1+num2


def evenodd(num):
  if num%2==0:
    return "even"
  else:
    return "odd"

a=add(int(input()),20)
print(a)
evenodd(add(10,20))

12
32

'even'

In [ ]:
def evenodd(n1,n2):
  x=add(n1,n2)
  if x%2==0:
    return "even"
  else:
    return "odd"

evenodd(10,20)

'even'

In [10]:
def greet(func):
    print("Welcome")
    func()

def say_hello():
    print("Hello from inner function")

greet(say_hello)

Welcome
Hello from inner function

In [ ]:
def Madhan(name,DOB,CD=25):
  age=2024-DOB
  return f"hi {name} your age is {age} ,today is {CD}"


print(Madhan("guvi",2010))

print(Madhan("Madhan",2010,20))

print(Madhan(name="Madhan",CD=2010,DOB=1234))


print(Madhan("Madhan",2010,CD=1234))

hi guvi your age is 14 ,today is 25
hi nirmal your age is 14 ,today is 20
hi nirmal your age is 790 ,today is 2010
hi nirmal your age is 14 ,today is 1234

In [33]:
def bio(**info):
    # cunt = 0
    for i in info: # {'name': ['Madhan', 1], 'lang': 'tamil', 'state': 'TNu'}
        print(' '.join(map(str, info[i]))) # 'name': ['Madhan', 1]
        # print(i)
        # cunt += 1
    return info
bio(name=["Madhan", "Jegan"], age=[20, 28])

Madhan Jegan
20 28

{'name': ['Madhan', 'Jegan'], 'age': [20, 28]}

In [ ]:
def nir(*a):
  s=0
  for i in a:
    #print(i)
    s= s+i
  return s

nir(1,2,3,6,7,8,9,10,1000,12013)

13059

In [ ]:
def nir(**kwargs):
  print(list(kwargs))
  print(list(kwargs.values()))
  for i in kwargs.values():
    print(i)


nir(name=["Madhan",1],lang="tamil",state="TN")

['name', 'lang', 'state']
[['nirmal', 1], 'tamil', 'TN']
['nirmal', 1]
tamil
TN

In [35]:
# car ku order backed.... company, make, fuvel type, veariant. color, year....  customer end.... insurence tire, registration

# name, phone num mail 

# automate: age bill

----------------------
🧾 CAR ORDER SUMMARY
----------------------
Customer: madhan
Phone: 8902332966
Email: pai@h

Car: Hynday 2010 (Base)
Fuel Type: Petrol
Color: b;ack
Model Year: 2004 (Age: 21 years)

Base Price      : ₹1000000
Insurance       : ₹15000
Tire Cost       : ₹8000
Registration    : ₹10000
Age Discount    : -₹21000
-----------------------------
Total Bill      : ₹1012000
-----------------------------

In [ ]:
# prompt: genrate a good print statemnet that looks like a POS bill

def print_receipt(items):
  """Prints a formatted receipt."""

  print("-" * 30)
  print("     Your Receipt     ")
  print("-" * 30)

  for item, price in items.items():
      print(f"{item:<20} ${price:>6.2f}")

  print("-" * 30)
  total = sum(items.values())
  print(f"Total: ${total:>23.2f}")
  print("-" * 30)
  print("Thank you for your purchase!")


# Example usage:
items_purchased = {
    "Item 1": 10.50,
    "Item 2": 5.75,
    "Item 3": 20.00,
    "Item 4": 1.25
}

print_receipt(items_purchased)

------------------------------
     Your Receipt
------------------------------
Item 1               $ 10.50
Item 2               $  5.75
Item 3               $ 20.00
Item 4               $  1.25
------------------------------
Total: $                  37.50
------------------------------
Thank you for your purchase!

In [ ]:
print("Great" if (a := int(input())) == (u := int(str(a)[0])) + (v := int(str(a)[1])) + u * v else "Not")

59
Great

# Class 7 - D3

In [ ]:
#recurive
#class and objects
#lambda
#map

In [ ]:
#local and global variabnle
#class and objects

In [38]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance          # Public
        self._account_number = "1234"   # Protected
        self.__pin = 4321               # Private

acc = BankAccount(1000)
print(acc.balance)        # ✅
print(acc._account_number) # ⚠️ Should not be accessed directly
# print(acc.__pin)        # ❌ Error

1000
1234

In [ ]:
#class and objects

class laptop():

  model="hp laptop"
  battery="10 hr"

In [ ]:
a=laptop()
b=laptop()
print(a.model)
print(a.battery)
print(b.model)
print(b.battery)

hp laptop
10 hr
hp laptop
10 hr

In [ ]:
x=10

def guvi():
  x=100
  return x

print(guvi())
print(x)

100
10

In [39]:

class bankaccount():

  def __init__(self,name,balance):
    self.a=name
    self.b=balance

  def deposit(self,amount):
    self.b=self.b+amount
    return self.b

  def withdraw(self,amount):
    self.b=self.b-amount
    return self.a, self.b

In [ ]:
Madhan=bankaccount("Madhan s",10000)
maddy=bankaccount("maddy k",20000)

In [ ]:
print(Madhan.a)

nirmal nethaji

In [ ]:
print(maddy.b)

20000

In [ ]:
maddy.withdraw(36000)

('murali k', 20000)

In [ ]:
Madhan.deposit(1000000)

1010000

# Class 7 - D4

In [48]:
class  grandfather():
  def wealth(self):
    return "pala land"


class father(grandfather):
  def nose(self):
    return "ponited nose"



class mother():
  def patience(self):
    return "rombaa"


class child(father,mother):
  def hair(self):
    return "curly"

  def nose(self):
    return "round nose"

class grandchild(child):
  def nose(self):
    return "nose"

In [50]:
a=grandchild()
print(mother().patience())

rombaa

In [ ]:
#without encapsulation
class BankAccount:
   def __init__(self, account_number, balance):
       self.account_number = account_number
       self.balance = balance  # Public attribute


   def deposit(self, amount):
       self.balance += amount
       return self.balance


   def withdraw(self, amount):
       if amount > self.balance:
           print("Insufficient funds!")
           return
       self.balance -= amount
       return self.balance


   def get_balance(self):
       return self.balance
account = BankAccount("123456789", 100)
print(account.get_balance())  # 100


# With the balance being public, we can change it directly, potentially causing data inconsistency or misuse:
account.balance = 1000000
print(account.get_balance())  # 1000000


# Or even set it to nonsensical values:
account.balance = -500
print(account.get_balance())  # -500

100
1000000
-500

In [ ]:
#with encapsulation/abstraction
class BankAccount:
   def __init__(self, account_number, balance):
       self.account_number = account_number
       self.__balance = balance  # Private attribute


   def deposit(self, amount):
       self.__balance += amount
       return self.__balance


   def withdraw(self, amount):
       if amount > self.__balance:
           print("Insufficient funds!")
           return
       self.__balance -= amount
       return self.__balance


   def get_balance(self):
       return self.__balance




account = BankAccount("123456789", 100)
print(account.get_balance())  # 100


# With the balance being public, we can change it directly, potentially causing data inconsistency or misuse:
account.__balance = 1000000
print(account.get_balance())  # 1000000


# Or even set it to nonsensical values:
account.__balance = -500
print(account.get_balance())  # -500


account.deposit(10000)
print(account.get_balance())

100

In [57]:
y=10

def guvi():
  x=100
  return x

print(guvi())
# print(x)

100

In [58]:
y=10

def guvi():
  z=100
  return y

print(guvi())

# print(x)

10

In [55]:
n=10

def guvi():
  global n
  n=n+30
  return n

print(n)
print(guvi())
print(n)

10
40
40

In [ ]:
!pip uninstall pandas

Found existing installation: pandas 2.2.2
Uninstalling pandas-2.2.2:
  Would remove:
    /usr/local/lib/python3.10/dist-packages/pandas-2.2.2.dist-info/*
    /usr/local/lib/python3.10/dist-packages/pandas/*
Proceed (Y/n)? Y
  Successfully uninstalled pandas-2.2.2

# Class 8 - D4

In [ ]:
x=lambda a,b,c:a+b
print(x(10,20,20))

30

In [ ]:
def add(a,b):
  return a+b

x=lambda a,b:add(a,b)
print(x(10,20))

30

In [ ]:
x=lambda a:"even" if a%2==0 else "odd"

print(x(10))

even

In [ ]:
def evenodd(a):
  return x(a)

print(evenodd(10))

even

In [ ]:
# Sample log data
logs = [
    "Error: Failed to connect to database",
    "Warning: Low disk space on server",
    "Info: Scheduled backup completed",
    "Error: User authentication failed",
    "Warning: High memory usage detected",
    "Info: Service started successfully"
]

# Lambda function that filters and categorizes logs
categorize_logs = lambda log_list: {
    "Error": list(filter(lambda log: "Error" in log, log_list)),
    "Warning": list(filter(lambda log: "Warning" in log, log_list)),
    "Info": list(filter(lambda log: "Info" in log, log_list))
}

# Applying the lambda function to categorize logs
categorized_logs = categorize_logs(logs)

# Display output
print("Categorized Logs:")
for category, entries in categorized_logs.items():
    print(f"{category}: {entries}")

Categorized Logs:
Error: ['Error: Failed to connect to database', 'Error: User authentication failed']
Warning: ['Warning: Low disk space on server', 'Warning: High memory usage detected']
Info: ['Info: Scheduled backup completed', 'Info: Service started successfully']

In [ ]:
# Sample log data
logs = [
    "Error: Failed to connect to database",
    "Warning: Low disk space on server",
    "Info: Scheduled backup completed",
    "Error: User authentication failed",
    "Warning: High memory usage detected",
    "Info: Service started successfully"
]


a=lambda Madhan: "Error" in Madhan

print(list(filter(a,logs)))

['Error: Failed to connect to database', 'Error: User authentication failed']

In [ ]:
logs = [
    "Error: Failed to connect to database",
    "Warning: Low disk space on server",
    "Info: Scheduled backup completed",
    "Error: User authentication failed",
    "Warning: High memory usage detected",
    "Info: Service started successfully"
]

for i in logs:
  if "Error" in i:
    print(i)

Error: Failed to connect to database
Error: User authentication failed

In [ ]:
def adults(x):
  if x>=18:
    return True
  else:
    return False


a=filter(adults,[12,31,44,21,18,4,12,1,2,13,1])

print(list(a))

[31, 44, 21, 18]

In [ ]:
#map

def ennavo(x):
  return x*2

a=map(ennavo,[1,2,3,4,5,6,7,8,9,10])

print(list(a))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
a,b,c="123"

print(a,b,c)

1 2 3

In [ ]:
a,b,c,d,e,f=map(int,"123456")

print(a,b,c,d,e,f)

1 2 3 4 5 6

In [ ]:
def guvi(x):
  return x.upper()


a,b,c=map(guvi,["Madhan","guvi","tamil"])

print(a,b,c)

NIRMAL GUVI TAMIL

In [ ]:
# Example lists
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']


# Using the built-in zip function
zipped_result = dict(zip(list1, list2))

zipped_result2 = list(zip(list1, list2))

print("Zipped result:", zipped_result)

Zipped result: {1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [ ]:
print(*zipped_result)

(1, 'a') (2, 'b') (3, 'c') (4, 'd')

In [ ]:
for i in zipped_result:
  print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [ ]:
#recursive function

def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)

print(factorial(5))

120

In [ ]:
def russian_doll(n):
    # Base case: when n is 0, return a simple value (center of the doll)
    if n == 0:
        return "guvi"
    # Recursive case: add a pair of parentheses around the inner call
    return f"({russian_doll(n - 1)})"


result = russian_doll(4)
print(result)

((((guvi))))

In [ ]:
def fac(v):
    if v==0:
        return 1
    else:
        return v*fac(v-1)
a=map(fac,[1,4,5])
b=list(a)
print(sum(b))

145

In [ ]:
# prompt: implement simple binary search

def binary_search(sorted_list, target):
    low = 0
    high = len(sorted_list) - 1

    while low <= high:
        mid = (low + high) // 2  # Integer division

        if sorted_list[mid] == target:
            return mid  # Target found at index mid
        elif sorted_list[mid] < target:
            low = mid + 1  # Search in the right half
        else:
            high = mid - 1  # Search in the left half

    return -1  # Target not found


# Example usage:
my_list = [2, 5, 7, 8, 11, 12]
target_value = 21

result_index = binary_search(my_list, target_value)

if result_index != -1:
    print(f"Target {target_value} found at index {result_index}")
else:
    print(f"Target {target_value} not found in the list")

Target 21 not found in the list

In [ ]:

#open weather API
#json/API