In [ ]:
print("indru121@#$%^& netru naalai")

indru121@#$%^& netru naalai

In [ ]:
print(2+2)

4

In [ ]:
a=3
b=10
print(a+b)

13

In [ ]:
name=input("enter your name")
psw=input("enter your password")
print("hi " + name, "you have successfully logged in")

enter your namenirmal
enter your passwordlll
hinirmal you have successfully logged in

In [ ]:
print(2+5-9*78)
print(4-6)
print(8*9)
print(10/2)
print(10%2)
print(3**3)
print(11//5)

-695
-2
72
5.0
0
27
2

In [ ]:


# Comparison Operators
x = 10
y = 5

# Equal to (==)
print("x == y:", x == y)  # False

# Not equal to (!=)
print("x != y:", x != y)  # True

# Greater than (>)
print("x > y:", x > y)  # True

# Less than (<)
print("x < y:", x < y)  # False

# Greater than or equal to (>=)
print("x >= y:", x >= y)  # True

# Less than or equal to (<=)
print("x <= y:", x <= y)  # False

x == y: False
x != y: True
x > y: True
x < y: False
x >= y: True
x <= y: False

In [ ]:
#LOGICAL OPERATORS

print(True or True)
print(True or False)
print(False or True)
print(False or False)

print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
True
True
False
True
False
False
False

In [ ]:
print(not True)
print(not False)

print(False or True and not True)
print(True or False and False and True)

False
True
False
True

In [ ]:
print(True or False and not False)

True

In [ ]:
# prompt: list down all the keywors in python

import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# prompt: list down all the inbuilt functions in python

Okay, let's identify the built-in functions used in your provided Python code snippet:


*   **`print()`:**  Used to display output to the console.
*   **`input()`:** Used to take user input from the console.
*   **`keyword.kwlist`:** This is a list of all keywords in Python provided by the `keyword` module, it is not a function, but an attribute.



**Built-in Functions in General:**

It's important to note that the code snippet only uses a small subset of the many built-in functions available in Python. Some other common examples include:

*   **`len()`:** Returns the length of an object (string, list, tuple, etc.).
*   **`type()`:** Returns the type of an object.
*   **`str()`:** Converts an object to a string.
*   `int()`: Converts a string to an integer.
*   `float()`: Converts a string to a float.
*   `list()`: Converts an iterable to a list.
*   `tuple()`: Converts an iterable to a tuple.
*   `range()`: Creates a sequence of numbers.
*   `sum()`: Adds elements of an iterable.
*   `min()`: Returns the minimum element of an iterable.
*   `max()`: Returns the maximum element of an iterable.
*   `abs()`: Returns the absolute value of a number.
*   `round()`: Rounds a number to a specified number of decimal places.



By understanding built-in functions, you can write more concise and efficient Python code.

In [ ]:
a=input("username")
b=input("passowrd")

if a and b:
  print("success")
else:
  print("fail")

username
passowrdghj
fail

In [ ]:
0 and 1
"a" or "nirmal"
7 and 8
True and False

8

In [ ]:
print("abcd")
print('abcd')
print('''abcd''')
print("""abcd""")

abcd
abcd
abcd
abcd

In [ ]:
#conditions


if True :
  print("true")
else:
  print("false")

true

In [ ]:

if False:
  print("true")
else:
  print("false")

false

In [ ]:
a=input("username")
b=input("passowrd")

if a == b:
  print("success")
else:
  print("fail")

usernameasdf
passowrdasdf
success

In [ ]:
a=input("username")
b=input("passowrd")

if a == b:
  print("success")
elif b=="mottaboss":
  print("successfully logged in as special user")
else:
  print("fail")

usernamedvev
passowrdmottaboss
successfully logged in as special user

In [ ]:
card = input("enter your card number")
balance=100000
if len(card) == 16:
  print("valid")
  pin=input("enter your pin")
  if pin == "1234":
    print("successfully logged in")
    transaction=input("enter your transaction W or D")

  else:
    print("invalid pin")
else:
  print("invalid card- indru poi nalai vaanga")

False

In [ ]:
card = input("enter your card number")
balance=100000
if len(card) == 16:
 print("valid")
 pin=input("enter your pin")
 if pin == "1234":
   print("successfully logged in")
   transaction=input("enter your transaction W or D")
   if (transaction=='W' or transaction== 'w'):
      amount=int(input("Enter the amount: "))
      if amount < balance:
        balance=balance-amount
        print("your balance is",balance)
      else:
        print("insufficient balance")
   else:
      amount=int(input("Enter the amount: "))
      balance=balance+amount
      print("your balance is",balance)
 else:
   print("invalid pin")
else:
 print("invalid card- indru poi nalai vaanga")

the value is not 2

In [ ]:
#loops
co=0
for x in "NirMAL":
  print(x.upper())
  co=co+10

print(co)

N
I
R
M
A
L
60

In [ ]:
count=0
for i in 'safik':
  print(i)
  count=count+1
print(count)

s
a
f
i
k
5

In [ ]:
for i in range(2,10):
  print(i)

2
3
4
5
6
7
8
9

In [ ]:
#nested for and while
count=1
while count==10:
  print("good morning")
  count=count+2

In [ ]:
issue="no"

while issue =="no":
  print("the marriage is happening ")
  issue=input("is there any issue still ")
  if issue=="small":
    print("the marriage is not happening ")
    issue="no"
    continue
  if issue=="yes":
    print("the marriage is not happening ")
    break

the marriage is happening
is there any issue still no
the marriage is happening
is there any issue still small
the marriage is not happening
the marriage is happening
is there any issue still yes
the marriage is not happening

In [ ]:
a=0

while a<10:
  print(a)
  a=a+1
  if a==5:
    pass
  print("hello")

0
hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9
hello

In [ ]:
a=0
b=0
while a<5:
  print(a)
  a=a+1
  while b<5:
    print(b)
    b=b+1

0
0
1
2
3
4
1
2
3
4

In [ ]:
for i in range(0,5):
  for j in range(0,3):
    print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [ ]:
for i in ["rajini","kamal","alia"]:
  for j in ["khant","hassan","bhatt"]:
    print(i.index(),j)

TypeError: index() takes at least 1 argument (0 given)

In [ ]:
a = 0
for i in ["rajini", "kamal","alia"]:
    b = []
    for j in ["kanth","hasan","bhatt"]:
        b.append(j)
    print(i,b[a])
    a += 1

rajini kanth
kamal hasan
alia bhatt

In [ ]:
counteri=0
for i in ["rajini","kamal","alia"]:
  counterj=0
  for j in ["kanth","hasan","bhatt"]:
    if counteri==counterj:
      print(i,j)
    counterj=counterj+1
  counteri= counteri+1

rajini kanth
kamal hasan
alia bhatt

In [ ]:
First_name = ["rajini","kamal","alia"]
Last_name = ["khant","hassan","bhatt"]
for i, j in zip(First_name,Last_name):
  print(i,j)

rajini khant
kamal hassan
alia bhatt

In [ ]:
actor=[]
for i in ['rajini','kamal','alia']:
    for j in ['khant','hassan','bhatt']:
        actor.append(i+" "+j)
print(actor[0:9:4])

['rajini khant', 'kamal hassan', 'alia bhatt']

In [ ]:
#string operation
a="Today is Wednesday"
b="abcd123"

print(a.upper())
print(a.lower())
print(a.capitalize())

print(a.isalpha())
print(b.isalnum())
print(a.count("is"))
print(a.find("z"))
print(a.index("is"))
print(a.replace("Wednesday","Thursday"))
print(a.endswith("day"))
print(a.startswith("today"))
c=a.upper()
print(c)

TODAY IS WEDNESDAY
today is wednesday
Today is wednesday
False
True
1
-1
3
Today is Thursday
True
False
TODAY IS WEDNESDAY

In [ ]:
a="Today is Wednesday"
print(a.index("is"))
#print(c.isupper())
#print(c.islower())
print(a.split())
c=a.split()
print(" ".join(c))

6
['Today', 'is', 'Wednesday']
Today is Wednesday

In [ ]:
a=["1","2","3","4"]
print("$".join(a))

1$2$3$4

In [ ]:
a="nirmal"
print(r"\n how are \n malai?")
print(f"\n how are \nmalai? ")
print(r"{a} is a data guy")
print(f"{a} is a data guy")

\n how are \n malai?

 how are
malai?
{a} is a data guy
nirmal is a data guy

In [ ]:
a="today is thursday"

print(a[0:10])
print(a[:10])
print(a[3:])
print(a[0:10:2])
print(a[::2])
print(a.capitalize()[::-1])

today is t
today is t
ay is thursday
tdyi
tdyi hrdy
yadsruht si yadoT

In [ ]:
#list and its operations

a=["today","yesterday","tomorrow"]
b=[1,1.2342,"nirmal",[1,2,3]]
print(b)

print(b[0])
print(b[3][1])
print(b[0:3])

[1, 1.2342, 'nirmal', [1, 2, 3]]
1
2
[1, 1.2342, 'nirmal']

In [ ]:
a=[1,2]
a.append("nirmal")
a.append("guvi")
a.append(10121023)
a.append(["z","a","v"])
a.extend([1,2,"a",[1,2,3,4]])
a[5].append("zim damak dhum dhum")
print(a.count("guvi"))
a.insert(1,"guviHCL")
print(a[3].count("a"))
print(a)
z=a[1]
a[1]=a[10]
a[10]=z
print(a)

1
1
[1, 'guviHCL', 2, 'nirmal', 'guvi', 10121023, ['z', 'a', 'v', 'zim damak dhum dhum'], 1, 2, 'a', [1, 2, 3, 4]]
[1, [1, 2, 3, 4], 2, 'nirmal', 'guvi', 10121023, ['z', 'a', 'v', 'zim damak dhum dhum'], 1, 2, 'a', 'guviHCL']

In [ ]:
a=[1,2,3,4,3,5,4,23,2,3,122,1,21,212,1,2123,1,2,1]
a.sort(reverse=False)
print(a)
a.remove(4)
print(a)
f=a.pop(14)
print(a)
print(f)

[1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 5, 21, 23, 122, 212, 2123]
[1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 5, 21, 23, 122, 212, 2123]
[1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 5, 21, 122, 212, 2123]
23

In [ ]:
a=(1,2,3,4,"nirmal")
print(a[0])

a,b,c,d=(1,4,3,4)
print(a)
print(b)
print(c)
print(d)

1
1
2
3
4

In [ ]:
#set

a={1,1,2,2,2,21,3,2,3,1,2,None}
print(a)

{1, 2, 3, 21, None}

In [ ]:
print("nirmal " + "nethaji")

nirmal nethaji

In [ ]:
a={"name":"nirmal","lang":"tamil","state":"TN","date":"24/10/2024"}

print(a)
print(a['name'])
print(a["lang"])
a["name1"]='nethaji'
a["lang"]=["tamil","hindi"]
a["lang"].append("english")
print(a)

print(a.get("name"))
print(a.keys())
print(a.values())
print(a.items())

v=a.values()
print(v)
#print(list(v).index("tamil"))

{'name': 'nirmal', 'lang': 'tamil', 'state': 'TN', 'date': '24/10/2024'}
nirmal
tamil
{'name': 'nirmal', 'lang': ['tamil', 'hindi', 'english'], 'state': 'TN', 'date': '24/10/2024', 'name1': 'nethaji'}
nirmal
dict_keys(['name', 'lang', 'state', 'date', 'name1'])
dict_values(['nirmal', ['tamil', 'hindi', 'english'], 'TN', '24/10/2024', 'nethaji'])
dict_items([('name', 'nirmal'), ('lang', ['tamil', 'hindi', 'english']), ('state', 'TN'), ('date', '24/10/2024'), ('name1', 'nethaji')])
dict_values(['nirmal', ['tamil', 'hindi', 'english'], 'TN', '24/10/2024', 'nethaji'])

In [ ]:
#functions

def guvi():
  print("nirmal ")
  return "nirmal is a data scientist"

a=guvi()

nirmal

In [ ]:
def add(num1,num2):
  return num1+num2


def evenodd(num):
  if num%2==0:
    return "even"
  else:
    return "odd"

a=add(int(input()),20)
print(a)
evenodd(add(10,20))

12
32

'even'

In [ ]:
def evenodd(n1,n2):
  x=add(n1,n2)
  if x%2==0:
    return "even"
  else:
    return "odd"

evenodd(10,20)

'even'

In [ ]:
def nirmal(name,DOB,CD=25):
  age=2024-DOB
  return f"hi {name} your age is {age} ,today is {CD}"


print(nirmal("guvi",2010))

print(nirmal("nirmal",2010,20))

print(nirmal(name="nirmal",CD=2010,DOB=1234))


print(nirmal("nirmal",2010,CD=1234))

hi guvi your age is 14 ,today is 25
hi nirmal your age is 14 ,today is 20
hi nirmal your age is 790 ,today is 2010
hi nirmal your age is 14 ,today is 1234

In [ ]:
def nir(*a):
  s=0
  for i in a:
    #print(i)
    s= s+i
  return s

nir(1,2,3,6,7,8,9,10,1000,12013)

13059

In [ ]:
def nir(**kwargs):
  print(list(kwargs))
  print(list(kwargs.values()))
  for i in kwargs.values():
    print(i)


nir(name=["nirmal",1],lang="tamil",state="TN")

['name', 'lang', 'state']
[['nirmal', 1], 'tamil', 'TN']
['nirmal', 1]
tamil
TN

In [ ]:
#recurive
#class and objects
#lambda
#map

In [ ]:
# prompt: genrate a good print statemnet that looks like a POS bill

def print_receipt(items):
  """Prints a formatted receipt."""

  print("-" * 30)
  print("     Your Receipt     ")
  print("-" * 30)

  for item, price in items.items():
      print(f"{item:<20} ${price:>6.2f}")

  print("-" * 30)
  total = sum(items.values())
  print(f"Total: ${total:>23.2f}")
  print("-" * 30)
  print("Thank you for your purchase!")


# Example usage:
items_purchased = {
    "Item 1": 10.50,
    "Item 2": 5.75,
    "Item 3": 20.00,
    "Item 4": 1.25
}

print_receipt(items_purchased)

------------------------------
     Your Receipt
------------------------------
Item 1               $ 10.50
Item 2               $  5.75
Item 3               $ 20.00
Item 4               $  1.25
------------------------------
Total: $                  37.50
------------------------------
Thank you for your purchase!

In [ ]:
print("Great" if (a := int(input())) == (u := int(str(a)[0])) + (v := int(str(a)[1])) + u * v else "Not")

59
Great

In [ ]:
#local and global variabnle
#class and objects

In [ ]:
#class and objects

class laptop():

  model="hp laptop"
  battery="10 hr"

In [ ]:
a=laptop()
b=laptop()
print(a.model)
print(a.battery)
print(b.model)
print(b.battery)

hp laptop
10 hr
hp laptop
10 hr

In [ ]:
x=10

def guvi():
  x=100
  return x

print(guvi())
print(x)

100
10

In [ ]:

class bankaccount():

  def __init__(self,name,balance):
    self.a=name
    self.b=balance

  def deposit(self,amount):
    self.b=self.b+amount
    return self.b

  def withdraw(self,amount):
    self.b=self.b-amount
    return self.b

In [ ]:
nirmal=bankaccount("nirmal nethaji",10000)
murali=bankaccount("murali k",20000)

In [ ]:
print(nirmal.a)

nirmal nethaji

In [ ]:
print(murali.balance)

56000

In [ ]:
murali.deposit(36000)

56000

In [ ]:
nirmal.deposit(1000000)

1010000

In [ ]:
class  grandfather():
  def wealth(self):
    return "pala land"


class father(grandfather):
  def nose(self):
    return "ponited nose"



class mother():
  def patience(self):
    return "rombaa"


class child(father,mother):
  def hair(self):
    return "curly"

  def nose(self):
    return "round nose"

class grandchild(child):
  def nose(self):
    return "nose"

In [ ]:
a=grandchild()
a.nose()

'nose'

In [ ]:
#without encapsulation
class BankAccount:
   def __init__(self, account_number, balance):
       self.account_number = account_number
       self.balance = balance  # Public attribute


   def deposit(self, amount):
       self.balance += amount
       return self.balance


   def withdraw(self, amount):
       if amount > self.balance:
           print("Insufficient funds!")
           return
       self.balance -= amount
       return self.balance


   def get_balance(self):
       return self.balance
account = BankAccount("123456789", 100)
print(account.get_balance())  # 100


# With the balance being public, we can change it directly, potentially causing data inconsistency or misuse:
account.balance = 1000000
print(account.get_balance())  # 1000000


# Or even set it to nonsensical values:
account.balance = -500
print(account.get_balance())  # -500

100
1000000
-500

In [ ]:
#with encapsulation/abstraction
class BankAccount:
   def __init__(self, account_number, balance):
       self.account_number = account_number
       self.__balance = balance  # Private attribute


   def deposit(self, amount):
       self.__balance += amount
       return self.__balance


   def withdraw(self, amount):
       if amount > self.__balance:
           print("Insufficient funds!")
           return
       self.__balance -= amount
       return self.__balance


   def get_balance(self):
       return self.__balance




account = BankAccount("123456789", 100)
print(account.get_balance())  # 100


# With the balance being public, we can change it directly, potentially causing data inconsistency or misuse:
account.__balance = 1000000
print(account.get_balance())  # 1000000


# Or even set it to nonsensical values:
account.balance = -500
print(account.get_balance())  # -500


account.deposit(10000)
print(account.get_balance())

100
100
100
10100

In [ ]:
y=10

def guvi():
  x=100
  return y

print(guvi())
print(x)

10
10

In [ ]:
y=10

def guvi():
  z=100
  return y

print(guvi())

print(x)

10

NameError: name 'x' is not defined

In [ ]:
n=10

def guvi():
  global n
  n=n+30
  return n

print(n)
print(guvi())
print(n)

SyntaxError: name 'n' is parameter and global (<ipython-input-75-587c64a083f0>, line 4)

In [ ]:
!pip uninstall pandas

Found existing installation: pandas 2.2.2
Uninstalling pandas-2.2.2:
  Would remove:
    /usr/local/lib/python3.10/dist-packages/pandas-2.2.2.dist-info/*
    /usr/local/lib/python3.10/dist-packages/pandas/*
Proceed (Y/n)? Y
  Successfully uninstalled pandas-2.2.2

In [ ]:
x=lambda a,b,c:a+b
print(x(10,20,20))

30

In [ ]:
def add(a,b):
  return a+b

x=lambda a,b:add(a,b)
print(x(10,20))

30

In [ ]:
x=lambda a:"even" if a%2==0 else "odd"

print(x(10))

even

In [ ]:
def evenodd(a):
  return x(a)

print(evenodd(10))

even

In [ ]:
# Sample log data
logs = [
    "Error: Failed to connect to database",
    "Warning: Low disk space on server",
    "Info: Scheduled backup completed",
    "Error: User authentication failed",
    "Warning: High memory usage detected",
    "Info: Service started successfully"
]

# Lambda function that filters and categorizes logs
categorize_logs = lambda log_list: {
    "Error": list(filter(lambda log: "Error" in log, log_list)),
    "Warning": list(filter(lambda log: "Warning" in log, log_list)),
    "Info": list(filter(lambda log: "Info" in log, log_list))
}

# Applying the lambda function to categorize logs
categorized_logs = categorize_logs(logs)

# Display output
print("Categorized Logs:")
for category, entries in categorized_logs.items():
    print(f"{category}: {entries}")

Categorized Logs:
Error: ['Error: Failed to connect to database', 'Error: User authentication failed']
Warning: ['Warning: Low disk space on server', 'Warning: High memory usage detected']
Info: ['Info: Scheduled backup completed', 'Info: Service started successfully']

In [ ]:
# Sample log data
logs = [
    "Error: Failed to connect to database",
    "Warning: Low disk space on server",
    "Info: Scheduled backup completed",
    "Error: User authentication failed",
    "Warning: High memory usage detected",
    "Info: Service started successfully"
]


a=lambda nirmal: "Error" in nirmal

print(list(filter(a,logs)))

['Error: Failed to connect to database', 'Error: User authentication failed']

In [ ]:
logs = [
    "Error: Failed to connect to database",
    "Warning: Low disk space on server",
    "Info: Scheduled backup completed",
    "Error: User authentication failed",
    "Warning: High memory usage detected",
    "Info: Service started successfully"
]

for i in logs:
  if "Error" in i:
    print(i)

Error: Failed to connect to database
Error: User authentication failed

In [ ]:
def adults(x):
  if x>=18:
    return True
  else:
    return False


a=filter(adults,[12,31,44,21,18,4,12,1,2,13,1])

print(list(a))

[31, 44, 21, 18]

In [ ]:
#map

def ennavo(x):
  return x*2

a=map(ennavo,[1,2,3,4,5,6,7,8,9,10])

print(list(a))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
a,b,c="123"

print(a,b,c)

1 2 3

In [ ]:
a,b,c,d,e,f=map(int,"123456")

print(a,b,c,d,e,f)

1 2 3 4 5 6

In [ ]:
def guvi(x):
  return x.upper()


a,b,c=map(guvi,["nirmal","guvi","tamil"])

print(a,b,c)

NIRMAL GUVI TAMIL

In [ ]:
# Example lists
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']


# Using the built-in zip function
zipped_result = dict(zip(list1, list2))

zipped_result2 = list(zip(list1, list2))

print("Zipped result:", zipped_result)

Zipped result: {1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [ ]:
print(*zipped_result)

(1, 'a') (2, 'b') (3, 'c') (4, 'd')

In [ ]:
for i in zipped_result:
  print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [ ]:
#recursive function

def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)

print(factorial(5))

120

In [ ]:
def russian_doll(n):
    # Base case: when n is 0, return a simple value (center of the doll)
    if n == 0:
        return "guvi"
    # Recursive case: add a pair of parentheses around the inner call
    return f"({russian_doll(n - 1)})"


result = russian_doll(4)
print(result)

((((guvi))))

In [ ]:
def fac(v):
    if v==0:
        return 1
    else:
        return v*fac(v-1)
a=map(fac,[1,4,5])
b=list(a)
print(sum(b))

145

In [ ]:
# prompt: implement simple binary search

def binary_search(sorted_list, target):
    low = 0
    high = len(sorted_list) - 1

    while low <= high:
        mid = (low + high) // 2  # Integer division

        if sorted_list[mid] == target:
            return mid  # Target found at index mid
        elif sorted_list[mid] < target:
            low = mid + 1  # Search in the right half
        else:
            high = mid - 1  # Search in the left half

    return -1  # Target not found


# Example usage:
my_list = [2, 5, 7, 8, 11, 12]
target_value = 21

result_index = binary_search(my_list, target_value)

if result_index != -1:
    print(f"Target {target_value} found at index {result_index}")
else:
    print(f"Target {target_value} not found in the list")

Target 21 not found in the list

In [ ]:

#open weather API
#json/API